.side {
  /* background-color: #251919; */
  background: linear-gradient(to bottom,  rgb(170, 14, 170), #43cfe2);
  border: 3px solid #e6e6e6;
  border-radius: 3px;
  
   /* padding: 10px; */
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 10px;
   height: 2em;
  /* width: 20%;
  overflow: auto;
  position: relative;
  display: flex;
  flex-direction: column;  */  
}

.w-100 {
  width: 100%;
}
  /*.container{
 display: grid;
  grid-template-columns: 1fr 3fr;
   grid-template-rows: 250px;
   grid-column-gap: 10px;  
}*/



.main{
  display: grid;
  grid-auto-flow: column;
  /* grid-column-gap: 10px; */
  /* grid-row-gap: 5px; */
}

.inline{
  display:inline;

}


.messageList {
  /* background-color: #000000; */
  background: linear-gradient(to bottom, rgb(232, 201, 232), #d0d1d1);
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  color: black;
  height: 80px;
  
  /* padding: 10px; */
  /* margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100%;
  width: 80%;
  overflow: auto;
  position: left;
  display: flex;
  flex-direction: column; */
}

.text_gauche{
  text-align: left;
}

.button_suppr {
  margin-top: 27px;
  width: 20px;
  position: absolute;
  right: 6vw; /* Aligner à droite */
}

.button_thread_suppr {
  width: 20px;
  position: absolute;
  left: 33.5%;
}